---
import { getCollection } from "astro:content"

import "../../styles/global.css"
import BaseLayout from "../../layouts/BaseLayout.astro"

const { categoryId } = Astro.params;

const products = await getCollection('products', ({ data }) => {
    return data.category.id === categoryId
})

export async function getStaticPaths() {
  return [
    { params: { categoryId: 'sicak-kahve' } }
  ]
}
---

<BaseLayout>
  
  <!-- TEMP -->
  <h1>Urunler</h1>
  <h2>{categoryId}</h2>
  <ul>
    {products.map(product => (
      <li>
        {product.id}: {product.data.title} ({product.data.price})
      </li>
    ))}
  </ul>
  <!-- TEMP -->

</BaseLayout>