---
import { getCollection } from "astro:content"

import "../styles/global.css"
import BaseLayout from "../layouts/BaseLayout.astro"
import CategoryCard from '../components/CategoryCard.astro'


const allCategories = await getCollection('categories')
---

<BaseLayout>
  
  <!-- CATEGORY LISTING -->
  <div class="grid grid-cols-2 auto-rows-[150px]">
    {allCategories.map(category => (
      <CategoryCard id={category.id} title={category.data.title} imagePath={`/src/assets/categories/${category.id}.png`} />
    ))}
  </div>
  <!-- CATEGORY LISTING -->

</BaseLayout>
